h1, h2, h3, h4, h5, h6, p, img {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 3em;
}

p {
    font-size: 1.2em;
}

a {
    color: white;
    text-decoration: none;
}

body, html {
    font-family: "Noto Sans Mono", "Consolas", "SF Mono", monospace;
    background-color: black;
    margin: 0;
    padding: 0;
    color: white;
}